<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.aha.board.repository.PostMapper">
    <select id="findById" resultType="Post">
        SELECT *
        from post
        where id = #{id}
    </select>
    <select id="findByBoardId" resultType="Post">
        SELECT id, title, writer, views, write_date, reply_count
        from post
        where board_id = #{boardId}
    </select>
    <insert id="save" parameterType="Post" useGeneratedKeys="true" keyProperty="id">
        insert into post (content, title, user_id, board_id, writer)
        values (#{content}, #{title}, #{userId}, #{boardId}, #{writer})
    </insert>
    <delete id="delete">
        delete
        from post
        where id = #{id}
    </delete>
    <update id="update" parameterType="Post">
        update post
        set title=#{title},
        content=#{content},
        writer=#{writer}
        where id = #{id}
    </update>
    <update id="increaseReply">
        update post
        set reply_count = reply_count + 1
        where id = #{id}
    </update>
    <update id="decreaseReply">
        update post
        set reply_count = reply_count - 1
        where id = #{id}
    </update>
    <update id="increaseViews">
        update post
        set views = views + 1
        where id = #{id}
    </update>
    <select id="findBoardAll" resultType="Board">
        select *
        from board;
    </select>

</mapper>
